@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Check Your Email</h2>
<p>If the email you entered is registered, you will receive a link to reset your password.</p>

